{% extends 'base.html' %}
{% block content %}

<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Task Name</th>
				<th>Description</th>
				<th>Status</th>
				<th>Created</th>
				<th>Action</th>
			</tr>
			
		</thead>
		<tbody>
			{% for task in tasks %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{task.taskName}}</td>
				<td>{{task.description}}</td>
				<td>{% if task.is_done == True %} Complete {% else %} Pending {% endif %}</td>
				<td>{{task.created_at}}</td>
				<td><a href="{% url 'taskDetail' task.pk %}" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a><a href="{% url 'taskUpdate' task.pk %}" class="btn btn-success"><i class="fa-regular fa-pen-to-square"></i></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
		
</div>
{% endblock %}

